<div class="container">
  <div class="form-group">
    <label for="exampleInputEmail1">Users</label>
    <select
      #field
      class="form-select"
      aria-label="Default select example"
      name="select"
      [(ngModel)]="selectedUserId"
    >
      <option value="0">All Users</option>
      <option
        *ngFor="let user of availableUsers"
        [value]="user.id"
        name="option"
      >
        {{ user.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input
      type="text"
      class="form-control"
      name="pass"
      id="pass"
      required="true"
      [(ngModel)]="enteredUserPassword"
    />
  </div>

  <button type="submit" class="btn btn-primary" name="sub" (click)="login()">
    login
  </button>
  <button type="submit" class="btn btn-primary" name="sub" (click)="logout()">
    logout
  </button>
</div>
