<div class="button">
  <button mat-raised-button color="primary" routerLink="add">Add</button>
</div>
<table mat-table class="mat-elevation-z8">
  <thead>
    <th>no</th>
    <th>TaskName</th>
    <th>Completed</th>
    <th>Delete</th>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todoList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ todo.task }}</td>
      <td>
        <mat-slide-toggle (click)="updateStatus(todo.id)">{{
          comStatus
        }}</mat-slide-toggle>
      </td>
      <td>
        <button mat-raised-button color="warn" (click)="deleteTodo(todo.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
